.hints {
	line-height: 36px;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 10px;
	font-weight: 550;

	&__hint {
		margin: 0 3px 0 8px;
		padding: 4px 6px 8px;
		text-decoration: none;
		border-radius: 8px;
		position: relative;
		background: linear-gradient(92.97deg, #DA15B8 4.93%, #8D06CC 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	&__hint::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #F6F6FA;
		border-radius: 8px;
		z-index: -1;
	}

	&__hint:last-child {
		margin-right: 0;
	}

	&__hint:nth-last-child(2) {
		margin-right: 8px;
	}
}